*~
.DS_Store
Thumbs.db
*.o
*.py[co]


/vim/bundle/gitv/
/vim/bundle/vim-fugitive/
/vim/bundle/vim-powerline/
/vim/bundle/Command-T/
/vim/bundle/vim-javascript/
/vim/bundle/AutoComplPop/
/vim/bundle/supertab/
/vim/bundle/neocomplcache/
/vim/bundle/nerdtree/
